[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
anyio = "*"
pytest-trio = "*"

[dev-packages]

[requires]
python_version = "3.11"
